.story {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white-primary, 0.4);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  position: relative;

  @include respond(phone) {
   display: block;
   text-align: center;
   padding: 4rem 0 4rem 0;

  }

  &__shape {
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;

    @include respond(phone) {
      margin:0 auto 5rem;
     }

   
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white-primary;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__text {
    margin: 0 5rem;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &__image {
    width: 15rem;
    position: relative;
    top: -4rem;
    transform: scale(1.4);
    transition: all 0.5s;
  }

  &:hover &__image {
    transform: scale(1.1);
    filter: blur(3px) brightness(80%);
  }
}
