*,
*::before,
*::after {
  padding: 0;
  margin: 0; }

html {
  /* important feature for rem values */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 62.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

*,
*:before,
*:after {
  box-sizing: inherit; }

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.u-center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-top-big {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-big {
      margin-top: 4rem; } }

.u-margin-top-small {
  margin-top: 3rem; }

.u-flex-even {
  display: flex;
  justify-content: space-evenly; }

.u-flex-wrap {
  flex-wrap: wrap; }

.u-center-text {
  text-align: center; }

.u-no-border {
  border: none; }

body {
  font-family: "Enriqueta", serif;
  font-weight: 400;
  line-height: 1.7;
  color: #576162; }

.heading-primary {
  width: auto;
  text-align: center;
  text-transform: uppercase;
  color: #ebe8e8;
  animation-name: scaleIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out; }
  .heading-primary--main {
    display: block;
    font-family: "Neuton", serif;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 4rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-family: "Enriqueta", serif;
    letter-spacing: 0.7rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem;
        font-size: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #073674, #4581cd);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.button, .button:link, .button:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 2rem 2.5rem;
  border-radius: 10rem;
  display: inline-block;
  margin-top: 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
  animation-name: scaleIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out; }
  .button:hover, .button:link:hover, .button:visited:hover {
    transform: translateY(3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .button:active, .button:focus, .button:link:active, .button:link:focus, .button:visited:active, .button:visited:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.button--animated {
  /* anim. name, duration, timing function, delay */
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.button--white {
  color: #576162;
  background-color: #fff; }

.button--orange {
  background-image: linear-gradient(to right bottom, rgba(245, 202, 133, 0.5), rgba(255, 130, 56, 0.4));
  color: #576162;
  font-weight: 700; }

.button--blue {
  background-image: linear-gradient(to right bottom, rgba(69, 129, 205, 0.5), rgba(4, 110, 246, 0.5));
  color: #576162;
  font-weight: 700; }

.button-text:link, .button-text:visited {
  font-size: 1.6rem;
  color: #046ef6;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #046ef6;
  padding: 3px;
  transition: all 0.2s; }

.button-text:hover {
  background-color: #046ef6;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.button-text:active {
  box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.composition {
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .composition {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    .composition {
      margin: 5rem 1rem 25rem 1rem; } }
  .composition__image {
    height: 20rem;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: all 0.3s; }
    .composition__image--1 {
      top: 22rem;
      left: 32rem;
      height: auto;
      width: 13.5rem; }
    .composition__image--3 {
      left: 15.5rem; }
    .composition__image--4 {
      top: 22rem;
      height: auto;
      width: 30rem; }
    .composition__image:hover {
      transform: scale(1.3) translateY(2px);
      z-index: 20; }
  .composition:hover .composition__image:not(:hover) {
    transform: scale(0.99); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.7rem;
  padding: 2.5rem 2.5rem 4rem 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 30%;
  max-width: 50rem;
  transition: transform 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 5rem;
      margin-left: 3rem;
      margin-right: 3rem; }
      .feature-box:not(:last-child) {
        margin-bottom: 5rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #4581cd, #073674);
    color: transparent;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box .heading-tertiary {
    font-size: 2rem; }

.card {
  width: 35%;
  max-width: 60rem;
  height: 52rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  margin-bottom: 5rem; }
  .card__side {
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    @media only screen and (max-width: 56.25em) {
      .card__side {
        height: 48rem; } }
    .card__side--front {
      background-image: linear-gradient(to right bottom, rgba(245, 202, 133, 0.5), rgba(255, 130, 56, 0.4)); }
    .card__side--back {
      transform: rotateY(-180deg);
      background-image: linear-gradient(to right bottom, rgba(245, 202, 133, 0.9), rgba(255, 130, 56, 0.9)); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .card__picture--1 {
      background-image: url(../images/massage2-small.jpg); }
    .card__picture--2 {
      background-image: url(../images/detox-small.jpg);
      background-position: 100% 70%; }
    .card__picture--3 {
      background-image: url(../images/workout-small.jpg);
      background-position: 100% 100%; }
    .card__picture--4 {
      background-image: url(../images/pool.jpg);
      background-position: 0% 100%; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    position: absolute;
    top: 12rem;
    left: 1rem;
    width: 75%; }
    .card__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(4, 110, 246, 0.85), rgba(69, 129, 205, 0.85)); }
    .card__heading--juice {
      top: 16.7rem; }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      text-align: center;
      font-size: 1.6rem;
      padding: 1rem; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid rgba(170, 174, 179, 0.5); }
  .card__cta {
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #ebe8e8; }
  .card__price-only {
    font-size: 2rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  .card__button {
    padding: 2rem 3rem !important; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto; }
      .card:not(:last-child) {
        margin-bottom: 10rem; }
      .card__side {
        height: auto;
        position: relative;
        border-radius: 3px; }
        .card__side--front {
          background-image: none;
          background-color: #fff; }
        .card__side--back {
          transform: rotateY(0); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        padding: 5rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 6rem;
        font-weight: 100; }
      .card__button {
        padding: 2rem 3rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .card:not(:last-child) {
      margin-bottom: 5rem; } }

.story {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .story {
      display: block;
      text-align: center;
      padding: 4rem 0 4rem 0; } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        margin: 0 auto 5rem; } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story__text {
    margin: 0 5rem; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story__image {
    width: 15rem;
    position: relative;
    top: -4rem;
    transform: scale(1.4);
    transition: all 0.5s; }
  .story:hover .story__image {
    transform: scale(1.1);
    filter: blur(3px) brightness(80%); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #046ef6; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff8238; }
  .form__input::-webkit-input-placeholder {
    color: #576162; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #046ef6;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem; }
  .form__radio-button::after {
    height: 1.3rem;
    width: 1.3rem;
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #046ef6;
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        width: 90%;
        overflow: scroll; } }
  .popup__left {
    width: 33.33333%;
    display: table-cell;
    padding: 1.5rem;
    background-image: url(../images/food2-small.jpg);
    background-size: cover; }
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 125em) {
      .popup__left {
        background-image: url(../images/food2.jpg); } }
    @media only screen and (max-width: 37.5em) {
      .popup__left {
        width: 100%;
        display: block;
        height: 20rem; } }
  .popup__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 37.5em) {
      .popup__right {
        display: block;
        width: 100%; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #aaaeb3;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #aaaeb3;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media only screen and (max-width: 37.5em) {
      .popup__text {
        column-count: 1; } }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #576162;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
  .popup__close:hover {
    color: #046ef6; }

.header {
  height: 90vh; }
  .header__bg-video {
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.95;
    z-index: -1;
    border-radius: 2px;
    box-shadow: 0 0 5px #000; }
    .header__bg-video-content {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 15% 50%; }
  .header__logo-container {
    width: 20rem;
    position: absolute;
    top: 3rem;
    left: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .header__logo-container {
        top: 2%;
        left: 2%; } }
  .header__logo {
    filter: invert(100%) brightness(1.5); }
  .header__text-container {
    top: 45%;
    text-align: center; }
  .header__button-container {
    margin: 0 auto; }

.w-40 {
  width: 40%; }

@media only screen and (max-width: 56.25em) {
  .w-51-tablet {
    width: 51% !important; } }

@media only screen and (max-width: 56.25em) {
  .w-90-tablet {
    width: 90% !important; } }

@media only screen and (max-width: 37.5em) {
  .w-80-phone {
    width: 80% !important; } }

@media only screen and (max-width: 37.5em) {
  .w-100-phone {
    width: 100% !important; } }

.footer {
  background-color: #576162;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #aaaeb3; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 3rem 0 4rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 0; } }
  .footer__logo {
    width: 25rem;
    height: auto;
    filter: invert(100%); }
  .footer__navigation {
    border-top: 1px solid #ebe8e8;
    padding-top: 2rem;
    display: inline-block; }
  .footer__container {
    max-width: 114rem;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .footer__container {
        display: block; } }
  .footer__sub-container {
    width: 40%; }
    @media only screen and (max-width: 37.5em) {
      .footer__sub-container {
        margin-bottom: 3rem; } }
  .footer__list {
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .footer__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        text-align: center; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
      @media only screen and (max-width: 56.25em) {
        .footer__item:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 56.25em) {
      .footer__item {
        margin: 0.5rem 1.5rem;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .footer__item {
        display: block;
        text-align: center; } }
  .footer__link:link, .footer__link:visited {
    color: #ebe8e8;
    background-color: #576162;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
    .footer__link:link:hover, .footer__link:link:active, .footer__link:visited:hover, .footer__link:visited:active {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.5); }
  .footer__copyright {
    border-top: 1px solid #ebe8e8;
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright {
        text-align: center;
        box-sizing: border-box;
        padding: 2rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#4581cd, #073674);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: none;
  opacity: 0;
  width: 0;
  transition: all 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.4s;
  display: inline-block; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #046ef6;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  display: block;
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #576162;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.section-about {
  padding: 15rem 0 25rem 0;
  background-color: #ebedf3; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-about {
      padding: 8rem 0; }
      .section-about h2 {
        width: 80%;
        margin-left: auto;
        margin-right: auto; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(69, 129, 205, 0.5), rgba(7, 54, 116, 0.5)), url(../images/pool.jpg);
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-features {
      padding: 8rem 0; } }

.section-plans {
  background-color: #ebedf3;
  padding: 15rem 0 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-plans {
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-plans {
      padding: 8rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-stories {
      padding: 8rem 0; } }
  .section-stories .bg-image {
    background-image: url(../images/relaxation-small.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 125em) {
      .section-stories .bg-image {
        background-image: url(../images/relaxation.jpg); } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(69, 129, 205, 0.5), rgba(7, 54, 116, 0.8)); }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-book {
      padding: 8rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/swimming-small.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 20%;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 80%;
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/swimming.jpg); } }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../images/swimming.jpg);
      background-size: cover;
      width: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../images/swimming.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
