*, *::before, *::after {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.u-center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 10rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-flex-even {
  display: flex;
  justify-content: space-evenly; }

.u-center-text {
  text-align: center; }

.u-no-border {
  border: none; }

body {
  font-family: 'Enriqueta', serif;
  font-weight: 400;
  line-height: 1.7;
  color: #576162; }

.heading-primary {
  width: auto;
  text-align: center;
  text-transform: uppercase;
  color: #ebe8e8;
  animation-name: scaleIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out; }
  .heading-primary--main {
    display: block;
    font-family: 'Neuton', serif;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-bottom: 1rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-family: 'Enriqueta', serif;
    letter-spacing: .7rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #073674, #4581cd);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.button, .button:link, .button:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 2rem 2.5rem;
  border-radius: 10rem;
  display: inline-block;
  margin-top: 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
  animation-name: scaleIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out; }
  .button:hover, .button:link:hover, .button:visited:hover {
    transform: translateY(3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .button:active, .button:focus, .button:link:active, .button:link:focus, .button:visited:active, .button:visited:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.button--white {
  color: #576162;
  background-color: #fff; }

.button--orange {
  background-image: linear-gradient(to right bottom, rgba(245, 202, 133, 0.5), rgba(255, 130, 56, 0.4));
  color: #576162;
  font-weight: 700; }

.button--blue {
  background-image: linear-gradient(to right bottom, rgba(69, 129, 205, 0.5), rgba(4, 110, 246, 0.5));
  color: #fff;
  font-weight: 700; }

.button-text:link, .button-text:visited {
  font-size: 1.6rem;
  color: #046ef6;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #046ef6;
  padding: 3px;
  transition: all 0.2s; }

.button-text:hover {
  background-color: #046ef6;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.button-text:active {
  box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.composition {
  position: relative; }
  .composition__image {
    height: 20rem;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: all 0.3s; }
    .composition__image--1 {
      top: 21rem;
      left: 31rem;
      height: auto;
      width: 13.5rem; }
    .composition__image--3 {
      left: 14.5rem; }
    .composition__image--4 {
      top: 21rem;
      height: auto;
      width: 30rem; }
    .composition__image:hover {
      transform: scale(1.3) translateY(2px);
      z-index: 20; }
  .composition:hover .composition__image:not(:hover) {
    transform: scale(0.99); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.7rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  max-width: 20%;
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #4581cd, #073674);
    color: transparent;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box .heading-tertiary {
    font-size: 2rem; }

.card {
  width: 20%;
  height: 52rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-image: linear-gradient(to right bottom, rgba(245, 202, 133, 0.5), rgba(255, 130, 56, 0.4)); }
    .card__side--back {
      transform: rotateY(-180deg);
      background-image: linear-gradient(to right bottom, rgba(245, 202, 133, 0.9), rgba(255, 130, 56, 0.9)); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .card__picture--1 {
      background-image: url(../images/massage2.jpg); }
    .card__picture--2 {
      background-image: url(../images/detox.jpg);
      background-position: 100% 70%; }
    .card__picture--3 {
      background-image: url(../images/workout.jpg);
      background-position: 100% 100%; }
    .card__picture--4 {
      background-image: url(../images/pool.jpg);
      background-position: 0% 100%; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    position: absolute;
    top: 12rem;
    left: 1rem;
    width: 75%; }
    .card__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(4, 110, 246, 0.85), rgba(69, 129, 205, 0.85)); }
    .card__heading--juice {
      top: 16.7rem; }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      text-align: center;
      font-size: 1.6rem;
      padding: 1rem; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid rgba(170, 174, 179, 0.5); }
  .card__cta {
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #ebe8e8; }
  .card__price-only {
    font-size: 2rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  .card__button {
    padding: 2rem 3rem !important; }

.story {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  position: relative; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story__text {
    margin: 0 5rem; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story__image {
    width: 15rem;
    position: relative;
    top: -4rem;
    transform: scale(1.4);
    transition: all .5s; }
  .story:hover .story__image {
    transform: scale(1.1);
    filter: blur(3px) brightness(80%); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all 0.3; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #046ef6; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff8238; }
  .form__input::-webkit-input-placeholder {
    color: #576162; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #046ef6;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    height: 1.3rem;
    width: 1.3rem;
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #046ef6;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.header {
  height: 90vh; }
  .header__bg-video {
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: .95;
    z-index: -1;
    border-radius: 2px;
    box-shadow: 0 0 5px #000; }
    .header__bg-video-content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .header__logo-container {
    width: 20rem;
    position: absolute;
    top: 3rem;
    left: 5rem; }
  .header__logo {
    filter: invert(100%) brightness(1.5); }
  .header__text-container {
    top: 45%;
    text-align: center; }
  .header__button-container {
    margin: 0 auto; }

.col-1-of-2 {
  width: 40%; }

.footer {
  background-color: #576162;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #aaaeb3; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 25rem;
    height: auto;
    filter: invert(100%); }
  .footer__navigation {
    border-top: 1px solid #ebe8e8;
    padding-top: 2rem;
    display: inline-block; }
  .footer__container {
    max-width: 114rem;
    margin: 0 auto; }
  .footer__sub-container {
    width: 40%; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #ebe8e8;
    background-color: #576162;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
    .footer__link:link:hover, .footer__link:link:active, .footer__link:visited:hover, .footer__link:visited:active {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.5); }
  .footer__copyright {
    border-top: 1px solid #ebe8e8;
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto; }

.section-about {
  padding: 15rem 0 25rem 0;
  background-color: #f0f3ff; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(69, 129, 205, 0.5), rgba(7, 54, 116, 0.5)), url(../images/pool.jpg);
  background-size: cover; }

.section-plans {
  background-color: #f0f3ff;
  padding: 15rem 0 15rem 0; }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  .section-stories .bg-image {
    background-image: url(../images/relaxation.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(69, 129, 205, 0.5), rgba(7, 54, 116, 0.8)); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/swimming.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 20%;
  opacity: .8;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  height: 50rem;
  max-width: 114rem;
  margin: 0 auto; }
  .book__form {
    width: 50%;
    padding: 6rem; }
