.button {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: $default-font-size;
    padding: 2rem 2.5rem;
    border-radius: 10rem;
    display: inline-block;
    margin-top: 2rem;
    box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
    transition: all 0.2s;

    cursor: pointer;

    animation-name: scaleIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;

    &:hover {
      transform: translateY(3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  }

  &--animated {
    /* anim. name, duration, timing function, delay */
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--white {
    color: $color-grey-dark;
    background-color: $color-white-primary;
  }

  &--orange {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 0.5),
      rgba($color-secondary, 0.4)
    );
    color: $color-grey-dark;
    font-weight: 700;
  }

  &--blue {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.5),
      rgba($color-primary, 0.5)
    );
    color: $color-grey-dark;
    font-weight: 700;
  }
}

.button-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white-primary;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5 1rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
}
