.footer {
  background-color: $color-grey-dark;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-light;

  @include respond(tab-port) {
    padding: 3rem 0 4rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }


  &__logo {
    width: 25rem;
    height: auto;
    filter: invert(100%);
  }

  &__navigation {
    border-top: 1px solid $color-white-secondary;
    padding-top: 2rem;
    display: inline-block;
  }

  &__container {
    max-width: 114rem;
    margin: 0 auto;

    @include respond(phone) {
      display: block;
    }
  }

  &__sub-container {
    width: 40%;

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &__list {
    list-style: none;

    @include respond(phone) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;

      @include respond(tab-port) {
        margin-right: 0;
      }
    }

    @include respond(tab-port) {
      margin: 0.5rem 1.5rem;
      text-align: center;
    }

    @include respond(phone) {
      display: block;
      text-align: center;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white-secondary;
      background-color: $color-grey-dark;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;

      &:hover,
      &:active {
        // color: $color-primary;

        box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
        transform: rotate(5deg) scale(1.5);
      }
    }
  }

  &__copyright {
    border-top: 1px solid $color-white-secondary;
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;

    @include respond(phone) {
      text-align: center;
      box-sizing: border-box;
      padding: 2rem;
    }
  }
}
