.header {

    height: 90vh;


 &__bg-video {
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: .95;
    z-index: -1;


    &-content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

  &__logo-container {
    width: 20rem;
    position: absolute;
    top: 3rem;
    left: 5rem;
  }

  &__logo {
    filter: invert(100%) brightness(1.5);


  
  }

  &__text-container {
    top: 45%;
    text-align: center;
  }

  &__button-container {
      margin: 0 auto;

  }

}
