*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  /* important feature for rem values */
  // Defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    //width < 1200 ?
    font-size: 62.25%; // 1rem = 9px; 9px/16px = 56.25%
  }

  @include respond(tab-port) {
    //width < 900 ?
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
