// Center to middle of parent, horizontally and vertically
.u-center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-big {
    margin-bottom: 10rem;
}

.u-margin-top-big {
    margin-top: 8rem;
}

.u-flex-even {
    display: flex;
    justify-content: space-evenly;

}

.u-center-text {
    text-align: center;
}

