.section-about {
    padding: 15rem 0 25rem 0;
    background-color: $color-beige;

}

.section-features {
    
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light-2, .8),
        rgba($color-primary-dark, .8)
    ), 
    url(../images/pool.jpg);
    background-size: cover;
}