// Colors


$color-primary: rgb(4, 110, 246);
$color-primary-light:rgb(69, 129, 205);
$color-primary-dark: rgb(7, 54, 116);


$color-secondary: rgb(255, 130, 56);
$color-secondary-light: rgb(245, 202, 133);

$color-grey-dark: rgb(87, 97, 98);
$color-grey-light: rgb(170, 174, 179);

// $color-beige: rgb(240, 243, 255);


$color-beige: rgb(235, 237, 243);


$color-white-primary: #fff;
$color-white-secondary: rgb(235, 232, 232);
$color-black: #000;

// Fonts
$default-font-size: 1.6rem;
