// Colors

$color-primary: rgb(4, 110, 246);

$color-primary-medium: rgb(47, 78, 117);
$color-primary-light:rgb(69, 129, 205);
$color-primary-dark: rgb(22, 85, 166);

$color-grey-dark: rgb(60, 66, 67);
$color-grey-light: rgb(55, 87, 88);
$color-grey-lighter: rgb(175, 191, 211);

$color-beige: rgb(240, 243, 255);

$color-white-primary: #fff;
$color-white-secondary: rgb(241, 241, 241);
$color-black: #000;

// Fonts
$default-font-size: 1.6rem;
